*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body{
    background-image:url("/images/abstract-digital-grid-black-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.div1{
    text-align: center;
    color:rgb(255, 255, 255);
    background-color:rgba(255, 255, 255, 0.15);
    border-radius:50px;
    border:solid white;
    width:300px;
    margin:0 auto;
    padding-bottom:30px;
    
}
#button{
    text-align: center;
    color:white;
   
    width:100px;
    margin:0 auto;
    border-radius: 50px; padding:10px; width:130px;
    margin-left:480px;
    margin-top:10px;
    background-color: rgba(255, 255, 255, 0.15);
    
}
.text{
    margin-right:78px;
}
.text2{
    margin-right:50px;
}
.text3{
    margin-right:30px;
}
::placeholder{
    padding:7px;
    font-size: smaller;
}
input[type="checkbox"]
{
    
    margin-left:150px;
    margin-top:30px;
}